header{
    position: static;
    z-index: 0;
}
nav, .footer-copyright {
    background-color: rgba(255, 93, 29, 0.644);
    padding: 20px !important;
    border-bottom: 1px solid rgb(36, 34, 34);
    color: white;
}

body{
    font-family: sans-serif;
    width:100%;
    text-transform: uppercase;
    background: url(img/bodega.jpg) no-repeat 0px 0px;
    background-size: cover;
    
}


.login-form{
    width:28%;
    margin: 0 auto;
    
    background-size: cover;
    background-position: center;
   
    
}

h1{
   text-align: center;
   font-size:  60px;
   font-weight: bold;
   margin-top: 55px;
   margin-bottom: 35px;
   color:rgba(255, 93, 29, 0.644);

}

form{
    margin: 0 auto;
}
form p{
    font-size: 15px;
    margin-top: 44px;
    padding: 0.3;
    color:rgba(255, 93, 29, 0.644);
}
.login-form form input[type="text"], input[type="password"]{
    outline:none;
    font-size: 1em;
    color:rgba(255, 93, 29, 0.644);
    padding: 15px 10px;
    margin : 0auto;
    width: 95%;
    border: none;
    border-bottom: 1px solid #000000;
    display: block;
    background: transparent;

}

input[type="validar"]{
    width: 100;
    outline: none;
    display: block;
    margin:0 auto;
    margin-top: 45px;
    padding: 13px 20px;
    font-size: 23px;
    font-weight: bold;
    text-transform: uppercase;
    background:#ff7300;
    border: none;
    color:rgba(0, 0, 0, 0.644);
    text-align:center;
    cursor: pointer;
    transition: 0.3s all;
 
}

input[type="submit"]:hover{
    background : #000000;
    transition: 0.3s all;
}
.login-form a {
    display:block;
    font-size:15px;
    color:rgba(0, 0, 0, 0.644);
    text-align:center;
    margin: 31px;
    transition: 0.3s all;
}

.login-form a :hover{
    color:#000000;
    transition:0.3s all;

}